/* Default Styles that main components and elements should inherit for styling
    Separate any custom class names, animations, media queries, on separate specific files.
*/

:root{
    --text-font: "Geist", sans-serif;;
}

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: var(--text-font);
}

a{
    cursor: pointer;
    text-decoration: none;
    color: black;
}

footer{
    background-color: yellow;
    color: black;
    border-radius: 15px;
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
}

header {
    background-color: yellow;
    border-radius: 15px;
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
}

header li {
    display: inline;
    background-color: lightgray;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid black;
}

header li:hover {
    background-color: gray;
}

.activeTerm {
    font-weight: bolder;
    color: green;
    background-color: aquamarine;
}

table {
    margin: 10px;
}