main table { border: 1px outset gray }
main table caption {
    font-size: 150%;
    font-weight: bold;
}
/* main tbody tr:hover { font-style: italic } */
main table th, main table td {
    border: 1px inset gray;
    padding: 5px;
}

/* Center credits and info columns */
#tblCourses td:nth-child(3), #tblCourses td:nth-child(4) { text-align: center }
/*
#tblCourses thead th {
    position: sticky;
    top: 0;
    background-color: white;
}
*/

span.course_desc {
    color: blue;
    cursor: help;
}

/* tr#termActive::after { content: '\2713' } */
tr#termActive {
    background-color: lemonchiffon;
    font-weight: bold;
}