.courses-tables{
    padding: 30px 30px;
    margin: 2em auto;
}

.courses-tables {
    text-align: center;
}

.tblCourses{
    border-collapse: collapse;
    width: fit-content;
    margin: 1em auto;
    font-size: 1.2em;
    width: 60%;
    text-align: left;

}

.tblCourses caption{
    font-size: 1.5em;
    font-weight: bold;
}

.tblCourses th, .tblCourses td{
    border: 1px solid black;
    padding: 1em;
}

td a{
    cursor: pointer;
    background-color: none;
    border: none;
    text-decoration: underline;
    color: var(--action-color);
    transition: all .25s ease;
}

td a:hover{
    filter: brightness(1.8);
}

.course_desc{
    cursor: pointer;

}

.course_desc:hover{
    text-decoration: underline;
}

.activeTerm{
    font-weight: bold;
    background-color: var(--white-400);
}